<%= render 'search_form' %>
<div hidden data-controller="number" data-number-target="box">
  <div class="bg-primary box text-light justify-content-end d-none d-sm-none d-md-flex d-flex">
    <div class="flex-grow-1 p-2">
      <div class="ml-5">
        <h6 class="text-center">Hey, if you need our help just enter the phone below and you will get a call soon!</h6>
      </div>
      <%= form_with url: '/your_endpoint', method: :post, local: true do |form| %>
        <%= form.text_field :phone_number, class: 'form-control', placeholder: '(555) 555-1234' %>
      <% end %>
    </div>
    <div>
      <button class="btn-close btn-close-white" data-action="click->number#close"></button>
    </div>
  </div>
</div>
