<footer class="d-flex justify-content-around footer text-center text-black" style="background-color: #F8F9FA">
  <div class="text-center p-3">
    © 2023 <a class="text-black" href="https://theodinproject.com/">The Odin Project</a>. All rights reserved.
  </div>
  <div class="text-center p-3">
    Made by <a class="text-black" href="https://github.com/ckec">ckec</a>.
  </div>
</footer>
